.nav-conatiner {
  display: flex;
  justify-content: space-between;

  border: 1px solid black;
  padding: 0 20px;
  background-color: aquamarine;
  box-shadow: 5px 10px 5px lightblue;
}
.logo {
  margin:10px;
  width: 90px;
  height:90px;
  border-radius: 50%;
  object-fit: cover; 
}
.link-container {
}
.link-container > ul {
  display: flex;
  font-size: 24px;
}
.link-container > ul > li {
  list-style: none;
  padding: 5px;
  margin: 10px;
}
.cart-body{
    display:flex;
   
    justify-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    
}
.cart-body-element{
    background-color: bisque;
    
    margin:10px,10px,10px,10px ;
    padding: 10px;
    margin:10px;
}
.cart-body-element:hover{
    border:1px solid black;
    cursor: pointer;
}
.search{
    font-size: 30px;
    margin-left:200px;
    padding:30px;
}
